.container {
    border-radius: 8px;
    border: 1px solid aqua;
    width: 90%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    min-height: 500px;
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.4),
                 0 0 10px rgba(0, 255, 255, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: #242424;
    color: #eee;
    font-family: "Montserrat", sans-serif;
    gap: 10px;
}

@media (min-width: 1024px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 800px;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #bbb; 
    border-bottom: 2px solid transparent;
}

.tab.active {
    border-bottom: 2px solid #00ffff;
    color: #00ffff; 
    font-weight: 600;
}

.tab:hover:not(.active) {
    color: #00ffff;
}

.form-section {
    padding: 20px;
}

.input-section {
    width: 100%;
    gap: 20px;
}

.spacer {
    height: 30px;
    content: none;
}